@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Type scale Minor Third */
/* light brown #BBAA96 */

html, .root {
    font-size: 18px;
    line-height: 30px;
}
body, .article {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
}

a:link, a:hover, a:active {
    color: #445777;
    text-decoration: none;
}
a:visited {
    color: #23334E;
}
a.menulink {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background-color: #445777;
    padding: 10px
}
hr.separator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #BBAA96, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #BBAA96, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #BBAA96, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #BBAA96, #ccc);
    margin-top: 60px:
    margin-bottom: 23px:
}
.toc {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, .h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-size: 37px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color: #445777;
}
h2, .h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #445777;
}
h3, .h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}
h4, .h4 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}
h5, .h5 {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
