@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');

/* light brown #BBAA96 */

.cover {
    text-align: center;
    color: #fff;
}
.pagehead {
    background-color: #445777;
    padding: 23px;
    /* width: 100%; */
    margin: 0 auto;
    margin-bottom: 23px;
}

html, .root {
    font-size: 18px;
    line-height: 23px;
}
body, .article {
    font-family: 'Domine', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* max-width: 400px; */
    /* margin: 20px; */
}

a:link, a:hover, a:active {
    color: #445777;
    font-weight: 700;
}
a:visited {
    color: #23334E;
}
a.menulink {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background-color: #445777;
    padding: 10px
}
hr.separator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #BBAA96, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #BBAA96, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #BBAA96, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #BBAA96, #ccc);
    margin-top: 60px:
    margin-bottom: 23px:
}
.toc {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



h1, .h1 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
    margin-top: 23px;
    margin-bottom: 46px;
    text-align: center;
    color: #445777;
}
h2, .h2 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 46px;
    margin-top: 23px;
    margin-bottom: 23px;
    text-align: center;
    color: #445777;
}
h3, .h3 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    margin-top: 23px;
    margin-bottom: 23px;
}
h4, .h4 {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-top: 23px;
    margin-bottom: 0px;
}
h5, .h5 {
    font-size: 18px;
    line-height: 23px;
    margin-top: 23px;
    margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
    font-family: 'Domine', serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 23px;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
